/* @define Question */
.Question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.proposals {
  min-width: 80vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  &-question {
    font-size: 40px;
    margin: 1em;
  }
}

.proposal {
  width: 400px;
  margin-left: 10px;
  line-height: 44px;
  border: 1px solid lightgray;
  background: #f5f5f5;
  font-size: 20px;
  font-weight: lighter;
  cursor: pointer;
  color: #444;
  margin: 1em;
  &:hover {
    color: #4183c4;
  }
}
