/* @define submitQuestion */
.submitTelegram {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  font-size: 1.2em;

  &-content {
    min-width: 80vw;
    &-telegram {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 1em;
    }
    &-submit {
      margin-top: 2em;
      button {
        padding: 1em 0;
        width: 100%;
        font-size: 1.2em;
        &:hover {
          cursor: pointer;
        }
      }
    }
    &-back {
      margin: 3em;
      a {
        text-decoration: none;
      }
    }
  }

  input {
    padding: 1em;
    width: 100%;
  }

  label {
    padding-right: 3em;
  }

  h1 {
    text-align: center;
    font-weight: lighter;
    color: gray;
    b {
      font-weight: bold;
    }
  }
}
